MessageBoards/src/conf/test/pm.dtd

<!ELEMENT dataset (
    board*,
    company*,
    country*,
    directory*,
    directory_has_documents*,
    document*,
    imputation*,
    iteration*,
    member*,
    message*,
    pmuser*,
    project*,
    release*,
    story*,
    task*)>

<!ELEMENT board EMPTY>
<!ATTLIST board
    ID CDATA #REQUIRED
    PRO_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT company EMPTY>
<!ATTLIST company
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    STREETNUMBER CDATA #IMPLIED
    STREETNAME CDATA #IMPLIED
    POSTALCODE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT country EMPTY>
<!ATTLIST country
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT directory EMPTY>
<!ATTLIST directory
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DIR_ID CDATA #IMPLIED
    DIR_NAME CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT directory_has_documents EMPTY>
<!ATTLIST directory_has_documents
    DIR_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    ID CDATA #REQUIRED
>

<!ELEMENT document EMPTY>
<!ATTLIST document
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    CONTENT CDATA #REQUIRED
    CONTENTVERSION CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT imputation EMPTY>
<!ATTLIST imputation
    USERLOGIN CDATA #REQUIRED
    DATE CDATA #REQUIRED
    TIMECONSUMED CDATA #REQUIRED
    RAF CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT iteration EMPTY>
<!ATTLIST iteration
    ID CDATA #REQUIRED
    REL_ID CDATA #IMPLIED
    START CDATA #REQUIRED
    END CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT member EMPTY>
<!ATTLIST member
    PMU_ID CDATA #REQUIRED
    ID CDATA #REQUIRED
>

<!ELEMENT message EMPTY>
<!ATTLIST message
    ID CDATA #REQUIRED
    PMU_ID CDATA #REQUIRED
    BOA_ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    CONTENT CDATA #REQUIRED
    POSTEDDATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT pmuser EMPTY>
<!ATTLIST pmuser
    ID CDATA #REQUIRED
    COM_ID CDATA #IMPLIED
    LOGIN CDATA #REQUIRED
    PWD CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    EMAIL CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT project EMPTY>
<!ATTLIST project
    ID CDATA #REQUIRED
    PRO_ID CDATA #IMPLIED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT release EMPTY>
<!ATTLIST release
    ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    DATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT story EMPTY>
<!ATTLIST story
    ID CDATA #REQUIRED
    ITE_ID CDATA #IMPLIED
    PRO_ID CDATA #REQUIRED
    SHORTDESCRIPTION CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    ESTIMATE CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT task EMPTY>
<!ATTLIST task
    ID CDATA #REQUIRED
    PMU_ID CDATA #REQUIRED
    ITE_ID CDATA #REQUIRED
    SHORTDESCRPTION CDATA #REQUIRED
    IDELADAY CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

