toDo/trunk/src/test/resources/pm.dtd

<!ELEMENT dataset (
    BOARD*,
    BUSINESSVALUE*,
    CHARGE*,
    COMPANY*,
    COUNTRY*,
    DIRECTORY*,
    DIRECTORY_HAS_DOCUMENTS*,
    DOCUMENT*,
    ITERATION*,
    MEMBER*,
    MESSAGE*,
    PMUSER*,
    PROJECT*,
    RELEASE*,
    RISKLEVEL*,
    STORY*,
    STORY_HAS_TASKS*,
    TASK*)>

<!ELEMENT BOARD EMPTY>
<!ATTLIST BOARD
    ID CDATA #REQUIRED
    PRO_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT BUSINESSVALUE EMPTY>
<!ATTLIST BUSINESSVALUE
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT CHARGE EMPTY>
<!ATTLIST CHARGE
    ID CDATA #REQUIRED
    TAS_ID CDATA #REQUIRED
    PMU_ID CDATA #REQUIRED
    DAY CDATA #REQUIRED
    TIMEUSED CDATA #REQUIRED
    DAYSNEEDEDTOFINISH CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT COMPANY EMPTY>
<!ATTLIST COMPANY
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    STREETNUMBER CDATA #IMPLIED
    STREETNAME CDATA #IMPLIED
    POSTALCODE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT COUNTRY EMPTY>
<!ATTLIST COUNTRY
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
>

<!ELEMENT DIRECTORY EMPTY>
<!ATTLIST DIRECTORY
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DIR_ID CDATA #IMPLIED
    DIR_NAME CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT DIRECTORY_HAS_DOCUMENTS EMPTY>
<!ATTLIST DIRECTORY_HAS_DOCUMENTS
    DIR_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    ID CDATA #REQUIRED
>

<!ELEMENT DOCUMENT EMPTY>
<!ATTLIST DOCUMENT
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
    TYPE CDATA #REQUIRED
    CONTENT CDATA #REQUIRED
    CONTENTVERSION CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT ITERATION EMPTY>
<!ATTLIST ITERATION
    ID CDATA #REQUIRED
    PRO_ID CDATA #REQUIRED
    REL_ID CDATA #IMPLIED
    START CDATA #REQUIRED
    END CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT MEMBER EMPTY>
<!ATTLIST MEMBER
    PMU_ID CDATA #REQUIRED
    ID CDATA #REQUIRED
>

<!ELEMENT MESSAGE EMPTY>
<!ATTLIST MESSAGE
    ID CDATA #REQUIRED
    PMU_ID CDATA #REQUIRED
    BOA_ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    CONTENT CDATA #REQUIRED
    POSTEDDATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT PMUSER EMPTY>
<!ATTLIST PMUSER
    ID CDATA #REQUIRED
    COM_ID CDATA #IMPLIED
    LOGIN CDATA #REQUIRED
    PWD CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    LASTNAME CDATA #IMPLIED
    EMAIL CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT PROJECT EMPTY>
<!ATTLIST PROJECT
    ID CDATA #REQUIRED
    PRO_ID CDATA #IMPLIED
    CODE CDATA #REQUIRED
    NAME CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT RELEASE EMPTY>
<!ATTLIST RELEASE
    ID CDATA #REQUIRED
    PRO_ID CDATA #REQUIRED
    NUMBER CDATA #REQUIRED
    DATE CDATA #REQUIRED
    VERSION CDATA #REQUIRED
>

<!ELEMENT RISKLEVEL EMPTY>
<!ATTLIST RISKLEVEL
    ID CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
>

<!ELEMENT STORY EMPTY>
<!ATTLIST STORY
    ID CDATA #REQUIRED
    RIS_ID CDATA #REQUIRED
    REL_ID CDATA #IMPLIED
    BUS_ID CDATA #REQUIRED
    PRO_ID CDATA #REQUIRED
    ITE_ID CDATA #IMPLIED
    SHORTDESCRIPTION CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    DAYSESTIMATED CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

<!ELEMENT STORY_HAS_TASKS EMPTY>
<!ATTLIST STORY_HAS_TASKS
    STO_ID CDATA #REQUIRED
    ID CDATA #REQUIRED
>

<!ELEMENT TASK EMPTY>
<!ATTLIST TASK
    ID CDATA #REQUIRED
    PMU_ID CDATA #IMPLIED
    SHORTDESCRIPTION CDATA #REQUIRED
    DAYSESTIMATED CDATA #IMPLIED
    VERSION CDATA #REQUIRED
>

